<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="prime">
        <form action="{{url_for('cal_prime')}}"method ="POST">
            <h2>Simple Web App to Check Prime Numbers in given Range</h2>
            <input type="text" name="num" placeholder="Enter a number"><br><br>
            <input type="submit" value="Check">
        </form>
    </body>
</html>